.footertxt {
    text-align: center;
    width:100%;
    height:30px;
    color: #757575;
    font-family: 'Alice';
}

.footerlink {
    text-decoration: none;
    color: #757575;
}

.footerlink:hover {
    color: #9c091a;
    transition: 0.5s;
}
footer{
  margin-top: auto;
}